header {
    background-color: #2D333B;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    .di94sz {
        width: 95%;
    }
}